@model EmpresaViewModel 

@{
    /// <summary>
    ///  Funciones.
    /// </summary>
    
    string ConvertirEnMayuscula(string? valor)
    {
        return valor.ToUpper();
    }

    /// <summary>
    ///  Funciones.
    /// </summary>
}

<div class="text-center">
    <h1 class="display-4"> <strong> @ConvertirEnMayuscula(Model.Nombre) </strong> </h1>
    <h3 class="display-7"> ¡Soluciones digitales! </h3>
    <img src="~/img/PORTADA.jpg" class="img-fluid" alt="Portada W STUDIO ARG" width="1000" height="00" />
</div>


<div class="container-fluid px-0">
    <div class="row justify-content-center text-center bg-dark" style="margin-top: 20px;">
        <div class="col col-md-7 seccion-bienvenida bg-dark text-white">
            <p class="my-4">
                ¡Bienvenido a <strong>@ConvertirEnMayuscula(Model.Nombre)</strong>!
                Simplifica la gestión de tu inventario con nuestro sistema de control de stock.Controla tu inventario en tiempo real, evita faltantes y optimiza tus operaciones de manera fácil y eficiente. ¡Lleva tu negocio al siguiente nivel con nuestra solución!
            </p>
        </div>
    </div>
</div>

