@{
    ViewData["Title"] = "Gracias por contactarnos";
}

<div class="container">
    <h1 class="text-center">¡Gracias por tu mensaje!</h1>
    <p class="text-center">Te contactaremos a la brevedad.</p>
</div>


