﻿@{
    ViewData["Title"] = "MensajeDeConfirmacionFormulario";
}

<div class="container">
    <h1 class="text-center">¡Gracias por ponerte en contacto con nosotros!</h1>

    <p class="text-center">¡Te estaremos contactando lo más pronto posible!</p>

    <div class="text-center mb-3">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al home</a>
    </div>
</div>